In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import types
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
from sqlalchemy.sql import text
import pandas as pd

In [2]:
# Establish connection to SQL
engine = create_engine("mysql://root:password@localhost/weather_data")

In [3]:
dtype={ 
    'city':  sqlalchemy.types.VARCHAR(length=255),
    'type': sqlalchemy.types.VARCHAR(length=255),
    'county': sqlalchemy.types.VARCHAR(length=255),
    'state': sqlalchemy.types.VARCHAR(length=255),
    'lat': sqlalchemy.types.Float(precision=8, asdecimal=True),
    'lng': sqlalchemy.types.Float(precision=8, asdecimal=True),
    'uv_index': sqlalchemy.types.Float(precision=2, asdecimal=True),
    'aqi': sqlalchemy.types.Float(precision=2, asdecimal=True),
    'category': sqlalchemy.types.VARCHAR(length=255),
    'dominant_pollutant': sqlalchemy.types.VARCHAR(length=255),
    'date': sqlalchemy.DateTime(),
    'temperature': sqlalchemy.types.Float(precision=2, asdecimal=True),
    'cloud': sqlalchemy.types.INTEGER(),
    'pressure': sqlalchemy.types.Float(precision=2, asdecimal=True),
    'wind_speed': sqlalchemy.types.Float(precision=2, asdecimal=True),
    'rain': sqlalchemy.types.Float(precision=2, asdecimal=True)
}

In [4]:
def format_date(df):
    df['date'] = pd.to_datetime(df['date'])
    return df

In [5]:
def push_to_sql(df,table_name):
    
    # Get dictionaries for each row
    data = df.to_dict(orient='index').values()
    
    columns = ','.join(df.columns)
    col_values = ','.join([f':{col}' for col in df.columns])

    with engine.connect() as con:

        test_statement=text(f"""
            INSERT INTO {table_name} 
            ({columns})
            VALUES
            ({col_values})""")

        for line in data:
            con.execute(test_statement, **line)
            
            
    print(f"{len(data)} rows inserted into {table_name}.")

In [6]:
# #load csv
# df = pd.read_csv('california_cities.csv')
# df.head()
# # check date column
# print(type(df['date'][0]))
# # change it
# df['date'] = pd.to_datetime(df['date'])
# # check again
# print(type(df['date'][0]))
# # load to sql
# df.to_sql(name='california_weather', if_exists='replace',con=engine, index=False,dtype=dtype)

query = '''
select * from california_weather
'''

# df = pd.read_sql_query(query,engine)

# # check dates again
# print(type(df['date'][0]))
# df.head()


df = format_date(pd.read_csv('california_cities.csv').dropna())
df1 = format_date(pd.read_csv('test_data.csv').dropna())
df2 = format_date(pd.read_csv('test_data2.csv').dropna())
df3 = format_date(pd.read_csv('test_data3.csv').dropna())

df.to_sql(name='california_weather', if_exists='replace',con=engine, index=False,dtype=dtype)

push_to_sql(df1,'california_weather')
push_to_sql(df2,'california_weather')
push_to_sql(df3,'california_weather')


gut_check = pd.read_sql_query(query, engine)
gut_check.head()

482 rows inserted into california_weather.
482 rows inserted into california_weather.
478 rows inserted into california_weather.

,city,type,county,state,lat,lng,uv_index,aqi,category,dominant_pollutant,date,temperature,cloud,pressure,wind_speed,rain
0,Adelanto,City,San Bernardino,california,34.5828,-117.409,2.98,41.0,Good air quality,o3,2018-12-01 06:06:27,13.95,75,1015.0,5.1,0.00
1,Agoura Hills,City,Los Angeles,california,34.1533,-118.762,3.00,48.0,Good air quality,pm25,2018-12-01 06:06:27,17.23,40,1016.0,3.6,0.00
2,Alameda,City,Alameda,california,37.7652,-122.242,2.00,61.0,Moderate air quality,pm25,2018-12-01 06:06:27,14.29,1,1020.0,2.1,1.02
3,Albany,City,Alameda,california,37.8869,-122.298,1.97,61.0,Moderate air quality,pm25,2018-12-01 06:06:27,14.60,1,1020.0,2.1,1.02
4,Alhambra,City,Los Angeles,california,34.0953,-118.127,3.00,66.0,Moderate air quality,pm25,2018-12-01 06:06:27,17.37,1,1015.0,2.1,0.00

In [16]:


if type(gut_check['date'][0]) == Datetime:
    print("yes")

NameError: name 'Datetime' is not defined

In [7]:
# inspector = inspect(engine)

# # check that schema is accurate w dtypes
# print(inspector.get_columns('california_weather'))

# # read new data
# new_db = pd.read_csv('test_data2.csv')
# new_db['date'] = pd.to_datetime(new_db['date'])
# new_db.head()

In [8]:
# print(type(new_db['date'][0]))

In [9]:
# query2 = '''select * from california_weather'''
# df = pd.read_sql_query(query2, engine)

# inspector = inspect(engine)
# inspector.get_columns('california_weather')
# len(df)

In [10]:
# new_df = pd.read_sql_query(query,engine)
# new_df['date'].value_counts()
# type(new_df['date'][0])

In [11]:
# print(data.keys())
# print(data.values())

# with engine.connect() as con:
    
#     statement = text("""INSERT INTO california_weather (city, type, county, state, lat, lng, uv_index, aqi, category, dominant_pollutant, date, temperature, cloud, pressure, wind_speed, rain) 
#     VALUES (:city, :type, :county, :state, :lat, :lng, :uv_index, :aqi, :category, :dominant_pollutant, :date, :temperature, :cloud, :pressure, :wind_speed, :rain)""")

#     for line in data.values():
#         con.execute(statement, **line)
        
#     con.execute(statement, **data)

In [12]:
# data = new_db.to_dict(orient='index')
# for v in data.values():
#     print(*v)
#     break
    
# print(**data)